# Python
__pycache__/
*.py[cod]
.venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML Artifacts
*.pth
*.pt
*.onnx
*.joblib
*.pkl

# Logs
logs/
*.log


# Optional: if you only want to ignore raw data
data/raw/

# Notebook checkpoints
.ipynb_checkpoints/

backend/data/


# Dataset
data/raw/
data/splits/

# Metadata (optional)
data/metadata/

# Outputs
outputs/

# Logs
logs/

# Models
models/checkpoints/

# Python
__pycache__/
*.pyc

# Environment
.env
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db