# Python
__pycache__/
*.py[cod]
.venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML Artifacts
*.pth
*.pt
*.onnx
*.joblib
*.pkl

# Logs
logs/
*.log

# Dataset
data/

# Optional: if you only want to ignore raw data
data/raw/

# Notebook checkpoints
.ipynb_checkpoints/

backend/data/